@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

:root {
  --font-roboto: "Roboto Slab", serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.App {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}