<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quisquam neque. Magni expedita sequi iusto perferendis est velit officiis eius eaque quibusdam quis adipisci pariatur voluptates, distinctio accusamus odit temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quisquam neque. Magni expedita sequi iusto perferendis est velit officiis eius eaque quibusdam quis adipisci pariatur voluptates, distinctio accusamus odit temporibus.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>