.station-container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
}

button{
    margin: 10px 10px;
}

.song-display{
    width: 50vw;
    height: 30vh;
    overflow: scroll;
}