<%- include('./partials/header.ejs') %>
<body>
    <h2>This is your pokemon page</h2>
    <div class="img-container">

    </div>
    <div class="pokemon-img-container">
        <img src="" alt="" data-id="<%= id %>" class="img">
    </div>


    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const container = document.querySelector('.pokemon-img-container');
        const img = document.querySelector('.img');
        axios.get(`https://pokeapi.co/api/v2/pokemon/${img.dataset.id}`)
            .then((result) => {
                img.src = result.data.sprites.other.dream_world.front_default
            })
            .catch((err) => {console.log(err);})
    </script>
</body>
</html> 